/* =========reset all ===========*/
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 2000px;
    font-family: 'Yanone Kaffeesatz', sans-serif;;
}
/* =======reset image==== */
img{
    max-width: 100%;
    
}

/* ======navbar and logo===== */
 .navbar{
     background: tomato;
 }
.logo-pokebola{
    width: 30px;
    height: 30px;
    
}


/* ==========hero section============ */
.hero__section{
    height: 550px;
    width: 100%;
    background-image: url(assets/img/pokemon\ unidos.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    
}


/*============= configuracion de las cartas ============*/
.cart__body:hover{
    box-shadow: 1px 1px 1px #000000;
}

#cartas{
   width: 100vw;

}

.card-title{
    text-align: left;
    font-size: 16px;
}

.card-title01{
    font-size: 25px;
    font-weight: 900;
   
}

.titulo{
    font-size: 26px;
    font-weight: 400;
    color: red;

}

/* ==========configuracion del modal============= */
.modal-content{
    width: 700px;
}
.modal-title{
    font-size: 26px;


}

/*======= configuracion del separador entre el mazo y el select===========0 */
.ambiente__grafico{
    margin-right: 30px;
    width: 150px;
    height: 150px;

}

.separador__titulo{
    display: inline-block;
    padding: 60px 0;
    color: white;
    font-weight: 300;
    
}
.separador__modificador{
    color: white;
    font-size: 20px;
    margin: 0px;
}    

.separador{
    margin: 50px 0;
    height: 250px;
    background: tomato;
    padding-left: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
}

/*========== configuracion del select ===========*/

#poke-select{
    margin: auto;
    margin-top: 50px;
    width: 250px;
}    

/* configuracion del resultado del select */

.newCuerpo{

    margin: auto;
}

.newCuerpo .table{
    width: 400px;
    border: 2px solid gray;
    color: gray;
}
.newCuerpo .imgpoke{
    margin: 0 50px;


}
   